In [54]:
import pandas as pd
import numpy as np

In [55]:
direct_link = 'https://assets.datacamp.com/production/repositories/655/datasets/1304e66b1f9799e1a5eac046ef75cf57bb1dd630/company-stock-movements-2010-2015-incl.csv'

In [56]:
df = pd.read_csv(direct_link, header = None)

In [57]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,954,955,956,957,958,959,960,961,962,963
0,NaN,2010-01-04,2010-01-05,2010-01-06,2010-01-07,2010-01-08,2010-01-11,2010-01-12,2010-01-13,2010-01-14,...,2013-10-16,2013-10-17,2013-10-18,2013-10-21,2013-10-22,2013-10-23,2013-10-24,2013-10-25,2013-10-28,2013-10-29
1,Apple,0.5799999999999841,-0.22000499999998624,-3.4099980000000016,-1.1699999999999875,1.680010999999979,-2.6899940000000413,-1.4699939999999856,2.7799970000000087,-0.6800029999999708,...,0.320007999999973,4.519996999999989,2.89998700000001,9.59001900000004,-6.540016000000037,5.959975999999983,6.910011000000054,-5.359961999999996,0.8400189999999839,-19.589980999999966
2,AIG,-0.6400020000000026,-0.6500000000000021,-0.21000100000000188,-0.4200000000000017,0.7100010000000019,-0.20000100000000032,-1.130001,0.06999899999999926,-0.11999899999999641,...,0.9199979999999925,0.7099990000000034,0.11999899999999997,-0.4799999999999969,0.010002000000007172,-0.279997999999992,-0.19000300000000436,-0.04000099999999662,-0.40000200000000063,0.6599999999999966
3,Amazon,-2.3500060000000076,1.2600089999999966,-2.3500060000000076,-2.0099950000000035,2.960005999999993,-2.3099969999999814,-1.640006999999997,1.2099990000000105,-1.7900009999999895,...,2.1099849999999947,3.699982000000034,9.57000800000003,-3.4500130000000127,4.82000800000003,-4.079985999999963,2.5799860000000194,4.790008999999998,-1.7600089999999682,3.740021000000013
4,American express,0.1099969999999999,0.0,0.26000200000000717,0.7200020000000009,0.19000300000000436,-0.2700010000000006,0.75,0.30000400000000127,0.639998999999996,...,0.6800009999999901,2.2900009999999895,0.4099960000000067,-0.0699989999999957,0.10000599999999338,0.06999900000000991,0.13000499999999704,1.8499989999999968,0.04000100000000373,0.5400010000000037

In [58]:
df = df.iloc[1:, :]

In [59]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,954,955,956,957,958,959,960,961,962,963
1,Apple,0.5799999999999841,-0.22000499999998624,-3.4099980000000016,-1.1699999999999875,1.680010999999979,-2.6899940000000413,-1.4699939999999856,2.7799970000000087,-0.6800029999999708,...,0.320007999999973,4.519996999999989,2.89998700000001,9.59001900000004,-6.540016000000037,5.959975999999983,6.910011000000054,-5.359961999999996,0.8400189999999839,-19.589980999999966
2,AIG,-0.6400020000000026,-0.6500000000000021,-0.21000100000000188,-0.4200000000000017,0.7100010000000019,-0.20000100000000032,-1.130001,0.06999899999999926,-0.11999899999999641,...,0.9199979999999925,0.7099990000000034,0.11999899999999997,-0.4799999999999969,0.010002000000007172,-0.279997999999992,-0.19000300000000436,-0.04000099999999662,-0.40000200000000063,0.6599999999999966
3,Amazon,-2.3500060000000076,1.2600089999999966,-2.3500060000000076,-2.0099950000000035,2.960005999999993,-2.3099969999999814,-1.640006999999997,1.2099990000000105,-1.7900009999999895,...,2.1099849999999947,3.699982000000034,9.57000800000003,-3.4500130000000127,4.82000800000003,-4.079985999999963,2.5799860000000194,4.790008999999998,-1.7600089999999682,3.740021000000013
4,American express,0.1099969999999999,0.0,0.26000200000000717,0.7200020000000009,0.19000300000000436,-0.2700010000000006,0.75,0.30000400000000127,0.639998999999996,...,0.6800009999999901,2.2900009999999895,0.4099960000000067,-0.0699989999999957,0.10000599999999338,0.06999900000000991,0.13000499999999704,1.8499989999999968,0.04000100000000373,0.5400010000000037
5,Boeing,0.45999899999999627,1.7700000000000031,1.5499989999999997,2.6900030000000044,0.05999699999999564,-1.0800020000000004,0.35999999999999943,0.5499989999999926,0.5300020000000032,...,1.5599969999999956,2.4800030000000106,0.019997000000003595,-1.2200010000000105,0.4800029999999964,3.020004,-0.02999900000000366,1.9400019999999927,1.1300050000000113,0.3099980000000073

In [60]:
df.columns

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            954, 955, 956, 957, 958, 959, 960, 961, 962, 963],
           dtype='int64', length=964)

In [61]:
df[0]

1                                  Apple
2                                    AIG
3                                 Amazon
4                       American express
5                                 Boeing
6                        Bank of America
7               British American Tobacco
8                                  Canon
9                            Caterpillar
10                     Colgate-Palmolive
11                        ConocoPhillips
12                                 Cisco
13                               Chevron
14                     DuPont de Nemours
15                                  Dell
16                                  Ford
17                     General Electrics
18                       Google/Alphabet
19                         Goldman Sachs
20                       GlaxoSmithKline
21                            Home Depot
22                                 Honda
23                                    HP
24                                   IBM
25                                 Intel
26                     Johnson & Johnson
27                        JPMorgan Chase
28                        Kimberly-Clark
29                             Coca Cola
30                       Lookheed Martin
31                            MasterCard
32                             McDonalds
33                                    3M
34                             Microsoft
35                            Mitsubishi
36                              Navistar
37                      Northrop Grumman
38                              Novartis
39                                 Pepsi
40                                Pfizer
41                        Procter Gamble
42                         Philip Morris
43                     Royal Dutch Shell
44                                   SAP
45                          Schlumberger
46                                  Sony
47                        Sanofi-Aventis
48                              Symantec
49                                Toyota
50                                 Total
51    Taiwan Semiconductor Manufacturing
52                     Texas instruments
53                              Unilever
54                         Valero Energy
55                              Walgreen
56                           Wells Fargo
57                              Wal-Mart
58                                 Exxon
59                                 Xerox
60                                 Yahoo
Name: 0, dtype: object

In [62]:
movements = df.iloc[:, 1:]

In [63]:
companies = df[0]

In [64]:
display(movements.head())
display(companies)

,1,2,3,4,5,6,7,8,9,10,...,954,955,956,957,958,959,960,961,962,963
1,0.5799999999999841,-0.22000499999998624,-3.4099980000000016,-1.1699999999999875,1.680010999999979,-2.6899940000000413,-1.4699939999999856,2.7799970000000087,-0.6800029999999708,-4.999995000000013,...,0.320007999999973,4.519996999999989,2.89998700000001,9.59001900000004,-6.540016000000037,5.959975999999983,6.910011000000054,-5.359961999999996,0.8400189999999839,-19.589980999999966
2,-0.6400020000000026,-0.6500000000000021,-0.21000100000000188,-0.4200000000000017,0.7100010000000019,-0.20000100000000032,-1.130001,0.06999899999999926,-0.11999899999999641,-0.5,...,0.9199979999999925,0.7099990000000034,0.11999899999999997,-0.4799999999999969,0.010002000000007172,-0.279997999999992,-0.19000300000000436,-0.04000099999999662,-0.40000200000000063,0.6599999999999966
3,-2.3500060000000076,1.2600089999999966,-2.3500060000000076,-2.0099950000000035,2.960005999999993,-2.3099969999999814,-1.640006999999997,1.2099990000000105,-1.7900009999999895,-2.039993999999993,...,2.1099849999999947,3.699982000000034,9.57000800000003,-3.4500130000000127,4.82000800000003,-4.079985999999963,2.5799860000000194,4.790008999999998,-1.7600089999999682,3.740021000000013
4,0.1099969999999999,0.0,0.26000200000000717,0.7200020000000009,0.19000300000000436,-0.2700010000000006,0.75,0.30000400000000127,0.639998999999996,-0.13000100000000714,...,0.6800009999999901,2.2900009999999895,0.4099960000000067,-0.0699989999999957,0.10000599999999338,0.06999900000000991,0.13000499999999704,1.8499989999999968,0.04000100000000373,0.5400010000000037
5,0.45999899999999627,1.7700000000000031,1.5499989999999997,2.6900030000000044,0.05999699999999564,-1.0800020000000004,0.35999999999999943,0.5499989999999926,0.5300020000000032,-0.7099989999999963,...,1.5599969999999956,2.4800030000000106,0.019997000000003595,-1.2200010000000105,0.4800029999999964,3.020004,-0.02999900000000366,1.9400019999999927,1.1300050000000113,0.3099980000000073

1                                  Apple
2                                    AIG
3                                 Amazon
4                       American express
5                                 Boeing
6                        Bank of America
7               British American Tobacco
8                                  Canon
9                            Caterpillar
10                     Colgate-Palmolive
11                        ConocoPhillips
12                                 Cisco
13                               Chevron
14                     DuPont de Nemours
15                                  Dell
16                                  Ford
17                     General Electrics
18                       Google/Alphabet
19                         Goldman Sachs
20                       GlaxoSmithKline
21                            Home Depot
22                                 Honda
23                                    HP
24                                   IBM
25                                 Intel
26                     Johnson & Johnson
27                        JPMorgan Chase
28                        Kimberly-Clark
29                             Coca Cola
30                       Lookheed Martin
31                            MasterCard
32                             McDonalds
33                                    3M
34                             Microsoft
35                            Mitsubishi
36                              Navistar
37                      Northrop Grumman
38                              Novartis
39                                 Pepsi
40                                Pfizer
41                        Procter Gamble
42                         Philip Morris
43                     Royal Dutch Shell
44                                   SAP
45                          Schlumberger
46                                  Sony
47                        Sanofi-Aventis
48                              Symantec
49                                Toyota
50                                 Total
51    Taiwan Semiconductor Manufacturing
52                     Texas instruments
53                              Unilever
54                         Valero Energy
55                              Walgreen
56                           Wells Fargo
57                              Wal-Mart
58                                 Exxon
59                                 Xerox
60                                 Yahoo
Name: 0, dtype: object

In [65]:
movements.values

array([['0.5799999999999841', '-0.22000499999998624',
        '-3.4099980000000016', ..., '-5.359961999999996',
        '0.8400189999999839', '-19.589980999999966'],
       ['-0.6400020000000026', '-0.6500000000000021',
        '-0.21000100000000188', ..., '-0.04000099999999662',
        '-0.40000200000000063', '0.6599999999999966'],
       ['-2.3500060000000076', '1.2600089999999966',
        '-2.3500060000000076', ..., '4.790008999999998',
        '-1.7600089999999682', '3.740021000000013'],
       ...,
       ['0.4300010000000043', '0.22999599999998566',
        '0.5700000000000074', ..., '-0.26000200000000007',
        '0.40000099999998895', '0.4800030000000106'],
       ['0.09000000000000163', '0.009999999999999787',
        '-0.08000000000000007', ..., '-0.02999999999999936',
        '0.019999999999999574', '-0.02999999999999936'],
       ['0.15999899999999911', '0.010001000000002591', '0.0', ...,
        '-0.06000099999999975', '0.25999799999999595',
        '0.09999799999999937']], dtype=object)

## Clustering

Normalizer() rescales each sample - here, each company's stock price - independently of the other.

In [70]:
from sklearn.preprocessing import Normalizer
from sklearn.cluster import KMeans
from sklearn.pipeline import make_pipeline

normalizer = Normalizer()
kmeans = KMeans(n_clusters = 10)
pipeline = make_pipeline(normalizer, kmeans)
pipeline.fit(movements)

Pipeline(memory=None,
     steps=[('normalizer', Normalizer(copy=True, norm='l2')), ('kmeans', KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=10, n_init=10, n_jobs=None, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0))])

## Which stocks move together?

In [73]:
labels = pipeline.predict(movements)
df = pd.DataFrame({'labels': labels, 'companies': companies})
print(df.sort_values('labels'))

    labels                           companies
2        0                                 AIG
35       1                          Mitsubishi
22       1                               Honda
8        1                               Canon
46       1                                Sony
49       1                              Toyota
38       2                            Novartis
43       2                   Royal Dutch Shell
44       2                                 SAP
45       2                        Schlumberger
20       2                     GlaxoSmithKline
36       2                            Navistar
50       2                               Total
47       2                      Sanofi-Aventis
58       2                               Exxon
11       2                      ConocoPhillips
7        2            British American Tobacco
53       2                            Unilever
54       2                       Valero Energy
13       2                             Chevron
39       3                               Pepsi
10       3                   Colgate-Palmolive
40       3                              Pfizer
42       3                       Philip Morris
26       3                   Johnson & Johnson
41       3                      Procter Gamble
28       3                      Kimberly-Clark
29       3                           Coca Cola
3        4                              Amazon
1        4                               Apple
18       4                     Google/Alphabet
48       5                            Symantec
52       5                   Texas instruments
51       5  Taiwan Semiconductor Manufacturing
60       5                               Yahoo
33       5                                  3M
32       5                           McDonalds
31       5                          MasterCard
59       5                               Xerox
25       5                               Intel
24       5                                 IBM
23       5                                  HP
21       5                          Home Depot
9        5                         Caterpillar
34       5                           Microsoft
15       5                                Dell
14       5                   DuPont de Nemours
12       5                               Cisco
4        6                    American express
56       6                         Wells Fargo
6        6                     Bank of America
16       6                                Ford
19       6                       Goldman Sachs
27       6                      JPMorgan Chase
17       6                   General Electrics
57       7                            Wal-Mart
5        8                              Boeing
37       8                    Northrop Grumman
30       8                     Lookheed Martin
55       9                            Walgreen